body {
    text-align: center; 
    margin:50px; 
    font-family:'Roboto', sans-serif; 
}
.form{
    display: inline-block;
}
.form label  {
    font-weight: 700px;
}
input{
    width: 100px;
  padding: 0px 10px; 
  margin: 5px 5px;
  box-sizing: border-box;
}
#instructions{
    width:50%; 
}

#link{
    width:200px; 
}
#code{
    width:90px; 
}

button{
    background-color: transparent;
}